{{!< main}}

{{#contentFor 'headerClass'}}alt reveal{{/contentFor}}
		<!-- Banner -->
			<section id="banner">

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">

					<header>
						<h2>Small Moves Club</h2>
					</header>
					<p>A motivational community to <strong>celebrate little victories</strong>.</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-birthday-cake"></span>
					<h2>A place for makers to cheer each other on as they finally go from thinking about that thing to actually doing it.</h2>
					<p>Lots of us have ideas. And then we realize things always seem just a little more complicated than we thought. But they don’t have to be.
					<br />
					We’re a Slack chat centric community (for now) with one humble goal: Help people to make their tiny dreams become a reality, and then build on top of that for something bigger.</p>
				</header>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-list-ol"></span>
									<header>
										<h3>Share your progress</h3>
									</header>
									<p>The Daily Standup channel asks people to say what they did yesterday, what they plan to do today and what they’re currently stuck on. Go on the record with your commitment.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">
							<section>
								<span class="icon featured fa-thumbs-up"></span>
								<header>
									<h3>Get advice and feedback</h3>
								</header>
								<p>Find inspiration by discussing your ideas and get concrete tips and opinions on what you’ve accomplished so far. Get a virtual pat on the back when you’ve shipped something.</p>
							</section>

						</div>
						<div class="4u 12u(narrower)">

							<section>
								<span class="icon featured fa-users"></span>
								<header>
									<h3>Find an accountability buddy</h3>
								</header>
								<p>Team up with someone you share similar goals with and nudge each other towards them. They’ve got your permission to be all over you about your progress.</p>
							</section>

						</div>
					</div>
				</section>
			</article>

		<!-- CTA -->
			<section id="cta">
				<section class="container 75%">

					<header>
						<h2>Ready to become a <strong>Small Mover</strong>?</h2>
						<p>Small Moves Club isn’t just for tech products. You don’t even have to ‘ship’ something for the public. Write a short story, work on your garden, learn a new language, start a new hobby. Even if learning to code or launching an app isn’t your goal, we hope our method can give you that gentle push you needed to accomplish something you can be proud of.</p>
						<h2>Join <strong>{{ memberCount }}</strong> Small Movers</h2>
					</header>

					<form action="/signup" method="POST">
						<div class="row 50%">
							<div class="6u 12u(mobile)">
								<input type="text" name="first_name" placeholder="First name" />
							</div>
							<div class="6u 12u(mobile)">
								<input type="text" name="last_name" placeholder="Last name" />
							</div>
						</div>
						<div class="row 50%">
							<div class="12u">
								<input type="text" name="email" placeholder="Email address" />
							</div>
						</div>
							<div class="row 50%">
								<div class="12u">
									<label><input type="checkbox" name="newsletter" checked> Join the Small Moves Club Newsletter</label>
								</div>
							</div>
						<div class="row 50%">
							<div class="12u">
								<textarea name="goal" placeholder="What's something you've been trying to accomplish for a while that you're struggling with?" rows="7"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<ul class="buttons">
									<li><input type="submit" class="special" value="Join For Free" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</section>