{{!< main}}

{{#contentFor 'headerClass'}}skel-layers-fixed{{/contentFor}}
		<!-- Main -->
			<article id="main">

				<!-- One -->
					<section class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<header>
										<h3>Welcome Aboard the Small Moves Club!</h3>
									</header>
									<p>
										Was that a 'small' signup form, or what? Keep an eye out for an invite email any minute now to the Slack chat community and activate your account there, so you can meet your new fellow Small Movers.
									</p>
									<p>
										So what's next? Once you've joined the Slack, introduce yourself to the others in the <strong>#general</strong> channel or join in on the <strong>#dailystandup</strong> action by saying three things: What did you get done last, what are you working on next and what are you stuck on? Add an optional mood emoji and repeat that as often as you can and then show off something you've completed in the <strong>#shipped</strong> channel. If it's not quite ready yet, ask for comments on <strong>#feedback</strong> or get help on <strong>#advice</strong> if you feel like you're stuck in a rut.
									</p>
									<p>
										<a href="https://twitter.com/intent/tweet?text=I%20just%20joined%20@smallmovesclub,%20a%20free%20motivational%20Slack%20community%20to%20help%20me%20finish%20my projects&url=http%3A%2F%2Fsmallmoves.club&hashtags=smallmoves">Share Small Moves Club</a> on Twitter or <a href="https://twitter.com/intent/follow?user_id=3218447693">follow us back</a> to see when community members celebrate their little victories.
									</p>
									<p>
										Problems or questions? <a href="mailto:hello@smallmoves.club">Send an email</a>!
									</p>
								</section>
							</div>

					</section>
			</article>